version: 1.0.{build}
before_build:
  - cmd: git submodule update --init --recursive
  - cmd: nuget restore
  
build:
  project: Junkbot.sln
  verbosity: minimal
  
after_build:
  - cmd: 7z a Junkbot.zip %APPVEYOR_BUILD_FOLDER%\Junkbot\bin\Debug\*
  
artifacts:
  - path: Junkbot.zip
    name: Junkbot-Debug